language: python
python:
  - "3.4"
  - "3.5"

cache:
  directories:
    - $HOME/.cache/pip
    - .cache/

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

notifications:
  email: false

sudo: false

before_install:
  - pip install codecov

after_success:
  - codecov

install:
  - pip install -r requirements.txt
before_script:
  - python -m pyflakes */*.py
  - python -m pyflakes *.py

#run tests
script:
  - python -m pytest --cov-append --cov=./ framework_unittests/test_A_Server_2.py
  - python -m pytest --cov-append --cov=./ framework_unittests/test_A_Server.py
  - python -m pytest --cov-append --cov=./ test_server_alive.py
  - python -m pytest --cov-append --cov=./ framework_unittests/test_A_IPC.py
  - python -m pytest --cov-append --cov=./ framework_unittests/test_A_cli.py
  - python -m pytest --ff -n auto --cov-append --cov=./  framework_unittests/test_AP_*.py

  - "python -m pep8 --exclude=migrations --ignore=E501,E225,E126 */*.py *.py"
