language: python
python:
  - "3.5"

notifications:
  email: false

sudo: false

install:
  #- pip install .
  #- pip install pep8 --use-mirrors
  #- pip install pyflakes --use-mirrors
before_script:
  #- "pep8 --exclude=migrations --ignore=E501,E225 src"
  #- pyflakes -x W src

  #run tests
script: python -m unittest discover -s tests
