language: python
python:
  - "3.5"

cache:
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

notifications:
  email: false

sudo: false

before_install:
  - pip install codecov

after_success:
  - codecov

install:
  #- pip install .
  - pip install -r requirements.txt
before_script:
  - "python -m pep8 --exclude=migrations --ignore=E501,E225 server cli util config"
  - python -m  pyflakes server

  #run tests
# script: python -m unittest discover -s tests
script:
  - python -m unittest tests/test_IPC.py
  - python -m unittest tests/test_Router.py
  - python -m unittest tests/test_Server.py
 # - python -m unittest tests/test_Server_2.py
  - python -m unittest tests/test_Yaml.py
  - python -m unittest tests/test_Logger.py
  - python -m unittest tests/test_firmware_handler.py

