language: python
python:
  - "3.5"

notifications:
  email: false

sudo: false

install:
  - pip install .
before_script:
  - "pep8 --exclude=migrations --ignore=E501,E225 server cli util"
  - pyflakes server

  #run tests
script: python -m unittest discover -s tests
