language: python
python:
  - "3.5"

cache:
  directories:
    - $HOME/.cache/pip
    - .cache/

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

notifications:
  email: false

sudo: required

before_install:
  - pip install codecov

after_success:
  - codecov

install:
  - pip install -r requirements.txt
before_script:
  - python -m pyflakes */*.py

#run tests
script:
  - python -m pytest --cov-append --cov=./ tests/test_Server_2.py
  - python -m pytest --cov-append --cov=./ tests/test_Server.py

  # add here your new unittests
  - python -m pytest --ff -n 2 --cov-append --cov=./  tests/test_IPC.py tests/test_Router.py tests/test_Yaml.py tests/test_Logger.py tests/test_firmware_handler.py

  - "python -m pep8 --exclude=migrations --ignore=E501,E225 */*.py *.py"
