language: python
python:
  - "3.5"

cache:
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
  
notifications:
  email: false

sudo: false

install:
  #- pip install .
  - pip install -r requirements.txt
before_script:
  - "python -m pep8 --exclude=migrations --ignore=E501,E225 server cli util"
  - python -m  pyflakes server

  #run tests
script: python -m unittest discover -s tests
