language: python
python:
  - "3.5"

cache:
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

notifications:
  email: false

sudo: false

install:
  - pip install -r requirements.txt


# script: python -m unittest discover -s framework_unittests
script:
  - python -m  pyflakes server cli util config network log
  - python -m unittest framework_unittests/test_IPC.py
  - python -m unittest framework_unittests/test_Router.py
  - python -m unittest framework_unittests/test_Server.py
 # - python -m unittest framework_unittests/test_Server_2.py
  - python -m unittest framework_unittests/test_Yaml.py
  - python -m unittest framework_unittests/test_Logger.py
  - python -m unittest framework_unittests/test_firmware_handler.py
  - "python -m pep8 --exclude=migrations --ignore=E501,E225 server cli util config"


